@import "tailwindcss";

@font-face {
    font-family: "Poppins";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Poppins";
    font-weight: 400;
    font-style: italic;
    src: url("/fonts/Poppins-Italic.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Poppins";
    font-weight: 500;
    font-style: normal;
    src: url("/fonts/Poppins-Medium.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Poppins";
    font-weight: 500;
    font-style: italic;
    src: url("/fonts/Poppins-MediumItalic.ttf") format("truetype");
  }
  
  @font-face {
      font-family: "Faculty Glyphic";
      font-weight: 400;
      font-style: normal;
      src: url("/fonts/FacultyGlyphic-Regular.ttf") format("truetype");
    }
  
  @font-face {
    font-family: "Gotu";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/Gotu-Regular.ttf") format("truetype");
  }
  
  @theme {
    --font-poppins: Poppins, sans-serif;
    --font-gotu: Gotu, sans-serif;
    --font-faculty-glyphic: Faculty Glyphic, sans-serif;
  }
  
  @layer components {
    h2 {
      font-family: var(--font-gotu);
      font-size: var(--text-2xl);
      color: var(--color-black);
    }
    p {
      line-height: 1.8;
      font-size: var(--text-sm);
    }
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fade-in 1.5s ease-out forwards;
  }
  
  .appear {
    animation: appear 1s ease-in;
  }
  
  .flowers {
      content: url("../assets/img/flowers.svg");
  }
  
  .motif {
      content: url("../assets/img/motif.svg");
  }
  
  .linkedin-icon {
      content: url("../assets/img/linkedin_icon.svg");
  }
  
  .github-icon {
      content: url("../assets/img/github_icon.svg");
  }
  
  .qaanoar-sun-icon {
    content: url("../assets/img/qaanoar_sun.svg");
  }
  
  .qaanoar-leaves-icon {
    content: url("../assets/img/qaanoar_leaves.svg");
  }
  
  .qaanoar-sparkles-icon {
    content: url("../assets/img/qaanoar_sparkles.svg");
  }
  
  .main-menu li {
    line-height: calc(100% + 2px);
  }