@import "tailwindcss";

@font-face {
    font-family: "Poppins";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Poppins";
    font-weight: 400;
    font-style: italic;
    src: url("/fonts/Poppins-Italic.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Poppins";
    font-weight: 500;
    font-style: normal;
    src: url("/fonts/Poppins-Medium.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Poppins";
    font-weight: 500;
    font-style: italic;
    src: url("/fonts/Poppins-MediumItalic.ttf") format("truetype");
  }
  
  @font-face {
      font-family: "Faculty Glyphic";
      font-weight: 400;
      font-style: normal;
      src: url("/fonts/FacultyGlyphic-Regular.ttf") format("truetype");
    }
  
  @font-face {
    font-family: "Gotu";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/Gotu-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Soria";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/soria-font.ttf") format("truetype");
  }
  
  @theme {
    --font-poppins: Poppins, sans-serif;
    --font-gotu: Gotu, sans-serif;
    --font-faculty-glyphic: Faculty Glyphic, sans-serif;
    --font-soria: Soria, serif;
  }
  
  @layer components {
    h2 {
      font-family: var(--font-gotu);
      font-size: var(--text-2xl);
      color: var(--color-white);
      text-transform: uppercase;
    }
    h4 {
      font-size: var(--text-sm);
    }
    p {
      line-height: 2;
      font-size: var(--text-sm);
    }
    * {
      transition: all 0.3s ease-out;
    }
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fade-in 1.5s ease-out forwards;
  }
  
  .appear {
    animation: appear 1s ease-in;
  }

  .slide-down {
    animation: slide-down 0.5s ease-out;
  }
  
  .motif {
      content: url("../assets/icons/motif_light.svg");
  }
  
  .qaanoar-sun-icon {
    content: url("../assets/icons/qaanoar_sun_white.svg");
  }
  
  .qaanoar-leaves-icon {
    content: url("../assets/icons/qaanoar_leaves_white.svg");
  }
  
  .qaanoar-sparkles-icon {
    content: url("../assets/icons/qaanoar_sparkles_white.svg");
  }